<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weddingsingers.wsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBarFullScreen" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".function.video.video.VideoActivity" />
        <activity android:name=".function.video.singerinfo.SingerInfoActivity" />
        <activity android:name=".function.chatting.chatting.ChattingActivity" />
        <activity
            android:name=".function.search.SearchActivity"
            android:exported="true" />
        <activity android:name=".main.review.ReviewActivity" />
        <activity android:name=".login.FacebookSignUpActivity" />
        <activity android:name=".login.FacebookLoginActivity" />
        <activity android:name=".function.video.reservation.ReservationActivity" />
        <activity android:name=".function.video.singerreview.SingerReviewActivity" />
        <activity android:name=".myinquiry.MyInquiryActivity" />
        <activity android:name=".function.mypage.favoritevideo.FavoriteVideoActivity" />
        <activity android:name=".function.mypage.pointstore.PointStoreActivity" />
        <activity android:name=".accountmgm.AccountMgmActivity" />
        <activity android:name=".function.mypage.singervideomgm.SingerVideoMgmActivity" />
        <activity android:name=".function.mypage.statistic.StatisticActivity" />
        <activity android:name=".function.reservation.cancelreservation.CancelReservationActivity" />
        <activity android:name=".function.inquiry.writeinquiry.WriteInquiryActivity" />
        <activity android:name=".function.community.writepost.WritePostActivity" />
        <activity android:name=".function.payment.payment.PaymentActivity"></activity>
    </application>

</manifest>